<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="favicons/error.ico" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
    <link rel="stylesheet" href="css/errorIndex.css" />
  </head>
  <body>
    <div class="headingContainer">
      <h1>!error</h1>
    </div>
    <div class="msgContainer">
      <p id="msg">invalid credentials entered</p>
    </div>
    <div class="formContainer">
      <form action="/form-fill" method="get">
        <label for="status">Go back to form filling page</label>
        <input type="submit" value="Go Back" />
      </form>
    </div>
  </body>
</html>