<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="shortcut icon"
      href="favicons/successIndex.ico"
      type="image/x-icon"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Success</title>
    <link rel="stylesheet" href="css/successIndex.css" />
  </head>
  <body>
    <div class="headingContainer">
      <h1>Success</h1>
    </div>
    <div class="paraContainer">
      <p>All credentials are correct.</p>
      <p>to re-fill click the button below.</p>
    </div>
    <div class="formContainer">
      <form action="/form-fill" method="get">
        <input type="submit" value="Fill-Again" />
      </form>
    </div>
  </body>
</html>